<div class="template">
    <h1>Template html</h1>
    //make a navbar with all the pages the following pages:
    // addMatch, addReferee, getMatches, getReferees, makeAdmin, login, logout, register

    //make a booststrap nav bar with the following pages:
    // addMatch, addReferee, getMatches, getReferees, makeAdmin, login, logout, register
    <nav>
        <a href="./pages/allMatches/allMatches.html">All matches</a>
        <a href="./pages/addMatch/addMatch.html">Add match</a>
        <a href="./pages/addReferee/addReferee.html">Add referee</a>
        <a href="./pages/getMatches/getMatches.html">Get matches</a>
        <a href="./pages/getReferees/getReferees.html">Get referees</a>
        <a href="./pages/makeAdmin/makeAdmin.html">Make admin</a>
        <a href="./pages/login/login.html">Login</a>

    </nav>





</div>