#profile-information {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    flex-direction: column;
    align-items: center;
}

#club-name {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 2em;
}

#club-wrapper:hover {
    background-color: #FFF5F5;
}