/* for general styling */
.navbar-nav .nav-link.active {
    text-decoration: underline;
    color:white;
}

.nav-link:hover {
    color:yellow;
}

.container-fluid {
    background-color: #013369;
    color:white;
    padding: 0;
}

.container-fluid a {
    color:white;

}

.navbar {
    padding: 0;
}

#nav-name {
    text-decoration: none;
    width: 100px;
    justify-content: center;
}

#nav-name a {

}

#nav-name.active{
    color: white;
}

