/* for general styling */
.navbar-nav .nav-link.active {
    color:white;
    text-decoration: underline;
    --bs-navbar-active-color: white;
   
}

.navbar-nav{
    --bs-navbar-hover-color: #fce6ac;
}

.nav-link:hover {
    color:yellow;
}

.container-fluid {
    background-color: #013369;
    color:white;
    padding: 0;
    height: 70px;
    font-size: 1.2em;
}

.container-fluid a {
    color:white;
}

#nav-name:hover{
    text-decoration: none;
    color:white
}

.navbar {
    padding: 0;
}

#nav-name {
    text-decoration: none;
    font-weight: bolder;
}

#nav-name-box{
    margin: auto;
    margin-right: 20px;
}

#nav-name.active{
    color: white;
}

